<!DOCTYPE html>
<html>
  <head>
    <title>LoginMock</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if current_user %>
      <div style="color: green;">U R now logged in as <%= current_user.email %></div>
    <% else %>
      <div style="color: red;">U RNT logged in</div>
    <% end %>
    <%= yield %>
  </body>
</html>
